<div class="h-screen grid place-content-center">
  <div class="w-full max-w-xs">
    <%= if @live_action in [:new] do %>
      <div class="grid place-content-center h-screen">
        <div class="w-50">
          <.live_component module={BeerGameWeb.BoardLive.FormComponent} id={:new} title={@page_title}
            action={@live_action} name={@name} />
        </div>
      </div>
      <% end %>
  </div>
</div>